section{
    background: gray;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

h1{
    color: white;
    padding: 10px 30px;
    BACKGROUND: rgba(33, 33, 33, 0.3);
    display: inline-block;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


img{
    display: none;
}

h1:hover{
    background: rgba(20, 20, 200, 0.6);
}

h1:hover + img{
    display: block;
    border: 2px solid red;
}

/*h1:hover {
    background-color: red;
  }
  
  h1:hover + img {
    text-align: center;
    display: block;
  }
  
  img {
    max-width: 400px;
    display: none;
  }*/